<div class= "card text-white bg-primary mt-5" >
    <div class="card-header">FILTRAR NOTICIAS POR CATEGORIA Y PAÍS</div>
    <div class="card-body">
      <div clas = "row">
         <div class = "col-lg-8 offset-lg-2 ">
          <form (ngSubmit) = "buscarNoticias()">
            <div class="form-group">
                <label for="select1" class= "form-label mt-4">Categoria</label>
                <select name="categoria" class = "form-select" [(ngModel)] = "categoriaSeleccionada" id="select1">
                  <option [value] = "categ.value" *ngFor= "let categ of categorias">{{categ.nombre}}</option>
                  
                </select>
            </div>
            <div class="form-group">
                <label for="select2" class="form-label mt-4">País</label>
                <select  name = "pais" class="form-select" [(ngModel)] = "paisSeleccionado" id="select2">
                  <option [value] = "pais.value" *ngFor= "let pais of paises">{{pais.nombre}}</option>
                </select>
            </div>
              <div class="d-grid gap-2">
                  <button class="btn btn-lg btn-dark mt-4" type="submit">Buscar</button>
              </div> 
          </form>
            
              
            
         </div>

      </div>

    </div>





</div>
